// ============================================================
// MediaQuery Width
// ============================================================
$width-br1920: 1920px;
$width-br1750: 1750px;
$width-br1600: 1600px;
$width-br1550: 1550px;
$width-br1500: 1500px;
$width-br1450: 1450px;
$width-br1350: 1350px;
$width-br1300: 1300px;
$width-br1200: 1200px;
$width-br1079: 1079px;
$width-br1060: 1060px;
$width-br990: 990px;
$width-br890: 890px;
$width-br739: 739px;
$width-br690: 690px;
$width-br500: 500px;
$width-br370: 370px;
$width-br310: 310px;
$width-br200: 200px;
$width-pc: 980px;
$width-tablet: 979px;
$width-tablet1: 979px;
$width-tablet2: 768px;
//$width-smartphone: 600px;
$width-smartphone: 900px;
$width-scrollbar: 20px;