@charset "UTF-8";

.c-breadcrumb {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-size: cover !important;

    @include br1200 {
        padding-top: 105px;
        background-position: -220px !important;
    }

    @include br690 {
        background-position: -250px !important;
    }

    @include br500 {
        padding-top: 79px;
        height: 250px;
    }

    &__inner {
        h2 {
            @include fs(32);
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;

            @include br1200 {
                @include fs(28);
                margin-bottom: 10px;
            }

            @include br500 {
                @include fs(24);
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin-right: 30px;
                padding-right: 30px;
                position: relative;

                @include br890 {
                    margin-right: 20px;
                    padding-right: 20px;
                }

                a {
                    @include fs(16);
                    font-family: 'Roboto', sans-serif;

                    &:hover {
                        color: #5B712E;
                    }

                    @include br890 {
                        @include fs(14);
                    }
                }

                p {
                    @include fs(16);
                    font-family: 'Roboto', sans-serif;

                    @include br890 {
                        @include fs(14);
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 12px;
                    right: -7px;
                    top: 50%;
                    background: no-repeat url(../../assets/img/common/icn_arrow-left_01.svg);
                    transform: translateY(-50%);
                    background-size: cover;

                    @include br890 {
                        right: -9px;
                    }
                }

                &:last-child {
                    margin-right: 0px;
                    padding-right: 0px;
                    align-self: center;

                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}

.c-breadcrumb-course {
    @include br500 {
        background-position: -720px !important;
    }
}