@use "sass:math";
@charset "utf-8";

// ----------------------------------------------------------------------
// font-size rem
// ----------------------------------------------------------------------

@mixin fs($size: 24, $base: 16, $important: false) {
	@if $important == 'important' or $important == true {
		$important: ' !important';
	} @else {
		$important: '';
	}
	
	font-size: $size + px;
	font-size: math.div($size,$base) * 1rem;
}