@charset "utf-8";

.p-signin {
    &__inner {
        max-width: 580px;
        margin: 0 auto;
        position: relative;
        padding: 0 15px;
        font-family: 'Roboto', sans-serif;

        .box {
            margin-top: 60px;
            margin-bottom: 60px;
            border: 1px solid #E9E7E7;
            padding: 35px;

            @include br690 {
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 25px;
            }

            h3 {
                margin-bottom: 30px;
                font-weight: 500;
                @include fs(22);
            }

            &__form {
                position: relative;
                margin-bottom: 25px;

                p {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }

                .toggle-password {
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    cursor: pointer;
                    line-height: 0px;

                    img {
                        width: 32px;
                        height: 32px;

                        &:last-child {
                            display: none;
                        }
                    }
                }

                .toggle-password-open {
                    img {

                        &:first-child {
                            display: none;
                        }

                        &:last-child {
                            display: inline-block;
                        }

                    }
                }

                label {
                    display: block;
                    margin-bottom: 15px;
                    @include fs(16);
                }

                .red {
                    color: red;
                }
            }
        }
    }
}

.forgot-password {
    margin-bottom: 20px;

    a {
        text-decoration: underline;

        &:hover {
            color: #5B712E;
        }
    }
}

.note {
    margin-bottom: 15px;
    color: #5B712E;
    ;
}

.notetifi {
    background-color: #dfefdf;
    color: #5ead60;
    padding: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: 1.6;
}