@charset "UTF-8";

.p-thanks {
    &__inner {
        max-width: 960px;
        margin: 0 auto;
        position: relative;
        padding: 70px 15px;

        p {
            text-align: center;
            @include fs(30);
            color: #000;
            line-height: 1.6;
            margin-top: 30px;
            font-family: 'Prata', serif;

            @include br1200 {
                @include fs(20);
                line-height: 1.4;
            }

            @include br500 {
                @include fs(16);
                line-height: 1.4;
            }
        }
    }
}